/* Default styling for all pages */

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

:root {

    /* || Font-size */
    --fs-xs: 0.8rem;
    --fs-s: 1rem;
    --fs-m: 1.5rem;
    --fs-l: 2.5rem;
    --fs-xl: 4rem;

    /* || Font-weight */
    --fw-s: 300;
    --fw-m: normal;
    --fw-l: 600;
    --fw-xl: 800;

    /* || color scheme */

}

/* Utility classes */
.hidden { display: none; }


/* Elements */
body {
    background-color: #2e294e;
}