/* Default styling for all pages */

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

:root {

    /* || Font-size */
    --fs-xs: 0.8rem;
    --fs-s: 1rem;
    --fs-m: 1.5rem;
    --fs-l: 2.5rem;
    --fs-xl: 4rem;

    /* || Font-weight */
    --fw-xs: 300;
    --fw-s: normal;
    --fw-m: 500;
    --fw-l: 600;
    --fw-xl: 800;

    /* || color scheme */
    --main: #121830;
    --primary: #ff525e;
    --secondary: #142055;
    --outline: #143677;
    --font: #f2d073;
    
    --white: #fff;
    --black: #000;

    --grad: linear-gradient(150deg, #182046 35%, #182459);
}

/* Utility classes */
.hidden { display: none; }


/* Elements */
body {
    background-color: var(--main);
}
p {
    color: var(--white);
}

nav, .hero-container, .section-5, .why, footer {
    padding: 1rem 6rem;
}


/* Media Queries */
@media (max-width:1230px) {
    nav, .hero-container, .section5, .about, footer {
        padding: 1rem 4rem;
    }
}
@media (max-width:1070px) {
    nav, .hero-container, .section-5, .about, footer {
        padding: 1rem 2rem;
    }
}
@media (max-width:767px) {
    nav, .hero-container, .section-5, .about,footer {
        padding: 1rem;
    }
}
@media (max-width:450px) {
    nav, .hero-container, .about, footer {
        padding: 1rem 10px;
    }
}