.header_wrapper {
    width: 100%;
    padding: 10px 90px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 40px;
    display: flex;
}
.nav-link:any-link {
    color: #fff;
}
.nav-link {
    margin: 0;
    font-weight: var(--fw-l);
}

.menu-button {
    display: none;
    height: 40px;
    width: 40px;
    background: none;
    border: none;
}

.menu-button i {
    color: #fff;
    font-size: x-large;
}

.support {
    padding: 10px 15px;
    border-radius: 20px;
    text-align: center;
    font-weight: var(--fw-l);
    display: inline-block;
    position: fixed;
    bottom: 40px;
    right: 40px;
    color: #FFF;
    background-color: #9052A2;
}

/* || hero section -------------------------- */

.hero-section {
    height: 90vh;
    padding: 5rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    position: relative;
}
.hero-bg {
    position: absolute;
    bottom: 0;
    right: 10%;
    height: 97%;
    width: auto;
    z-index: -100;
}
.hero-top {
    width: 60%;
    text-align: left;
    padding: 1rem 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -100px;
}

.hero-top .hero-large-text {
    position: relative;
    text-transform: capitalize;
    font-size: 6rem;
    color: #f4f4f4b2;
    line-height: 0.75;
    font-weight: var(--fw-xl);
    letter-spacing: -5px;
    word-spacing: -1px;
    text-shadow: 0 0 .4rem #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f6f6f6ef;
}
.hero-top .hero-small-text {
    font-size: 4rem;
    color: #fff;
    font-weight: var(--fw-xl);
    line-height: 0.7;
    text-shadow: 0 0 2rem #000000;
    position: relative;
    top: -40px;
}
.hero-top .hero-small-text i{
    color: gold;
}
.hero-top .hero-sub-text {
    color: #fff;
    font-size: 18px;
    font-weight: var(--fw-l);
    line-height: 0;
    width: 100%;
    margin-top: 0;
}
.hero-top .hero-description {
    color: var(--secondary);
    font-weight: var(--fw-l);
    line-height: 0.9;
    width: 100%;
    padding: 0 20% 0 0;
    text-align: left;
}

.hero-section .hero-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-bottom-button {
    background-color: var(--secondary);
    font-weight: var(--fw-l);
    padding: 0.5rem 1.5rem;
    border:  none;
    border-radius: 70px;
    height: 60px;
}
.trustpoilt {
    border-radius: 20px;
    height: 80px;
    width: 300px;
    background-color: var(--dark);
    color: #fff;
}

/* section 2 */

.section-2 {
    margin-top: 0;
    padding: 0;
    height: 70vh;
    width: 100%;
    text-align: center;
    color: #fff;
}
.section-2-title {
    text-transform: uppercase;
    font-size: var(--fs-l);
    font-weight: var(--fw-xl);
    color: gold;
}
.section-2 .custom-card {
    border: none;
    border-radius: 20px;
    overflow: hidden;
}
.section-2 .card-body {
    padding: 2rem;
    background-color: var(--dark);
}
.section-2 .card-body .card-title {
    font-size: var(--fs-l);
    font-weight: var(--fw-l);
}

.section-2 .card-body h6 {
    color: var(--secondary);
}