/* navigation bar */
nav a:any-link {
    color: #fff;
    font-weight: var(--fw-l);
    text-decoration: none;
}


/* main content */
.masterclass-container {
    width: 100%;
    min-height: 85vh;
    padding: 1rem 4rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.form-container {
    border: 2px solid #ffffff82;
    width: 370px;
    height: 500px;
    flex-grow: 0.5;
}

.scroll-section {
    height: auto;
    width: 550px;

    flex-grow: 2;
    display: flex;
    align-items: center;

    overflow-x: scroll;
}
.classes-container {
    height: auto;
    padding: 60px 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.class {
    height: 300px;
    min-width: 500px;
    max-width: 550px;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;

    background: var(--grad);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border: 2px solid var(--outline);
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s;
    user-select: none;
}
.class:hover {
    transform: scale(1.02);
}
  
.class:active {
    transform: scale(0.90) rotateZ(1.7deg);
}

.class-title-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.class-title-section i {
    color: var(--font);
}
.class-title {
    font-size: 24px;
    font-weight: var(--fw-l);
    margin: 5px 0;
}
.class-venue {
    font-size: 16px;
    font-weight: var(--fw-m);
}
.class-date {
    font-size: 12px;
}
.class-time {
    font-size: 10px;
    color: var(--font);
}
.class-info {
    font-size: 12px;
    font-weight: var(--fw-m);
}
.class a:any-link {color: #fff; text-decoration: none;}
.class a button {
    width: 150px;
    padding: 1rem;
    font-size: 14px;
    font-weight: var(--fw-l);
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 10px;
}

.scroll-section::-webkit-scrollbar {
    height: 8px;
    scroll-margin-block-start: 100px;
    display: block;
}

.scroll-section::-webkit-scrollbar-track {
    background: var(--grad);
    border-radius: 20px;
    margin: 0 150px; /* This creates the shorter scrollbar effect */
}

.scroll-section::-webkit-scrollbar-thumb {
    background: var(--outline);
    border-radius: 20px;
}

.scroll-section::-webkit-scrollbar-thumb:hover {
    background: #19418d;
}

/* Media queries */
@media (width < 1200px) {
    .masterclass-container {
        padding: 2rem;
    }
}
@media (width < 776px) {
    .masterclass-container {
        padding: 1rem;
    }
    .class {
        height: 400px;
        min-width: 400px;
    }
    .class-info {
        padding: 1rem 0 0;
        flex-grow: 2;
    }
}
@media (width < 480px) {
    nav {
        padding: 1rem;
    }
    .nav-logo img {
        height: 3rem;
    }
    nav a:any-link {
        font-size: 14px;
    }

    .class {
        min-width: 300px;
    }
}

