@media (max-width:1300px) {
    
}

@media (max-width:1230px) {
    .header_wrapper {
        padding: 10px 50px;
    }
    
    /* hero section */
    .hero-top .hero-large-text {
        font-size: 6rem;
        line-height: 1;
    }
    .hero-top .hero-small-text {
        font-size: 3rem;
        line-height: 0.7;
    }
    .hero-bottom-button {
        height: 50px;
    }
}

@media (max-width:1070px) {
    .logo img {
        height: 45px;
        width: auto;
    }

    
}

@media (max-width:991px) {
    .header_wrapper {
        padding: 10px 20px;
    }

    /* hero section */
    .hero-top .hero-large-text {
        font-size: 5rem;
    }
    .hero-top .hero-small-text {
        font-size: 2.5rem;
    }
}

@media (max-width:767px) {
    .header_wrapper {
        padding: 10px 30px;
    }
    .logo img {
        height: 40px;
        width: auto;
    }
    .menu-button {
        display: inline-block;
    }
    .nav ul {
        flex-direction: column;
        text-align: center;
    }
    .link-wrapper {
        display: none;
        z-index: 1000;
    }
    .link-wrapper.menu-open {
        position: absolute;
        top: 150px;
        left: 80px;
        right: 80px;
        height: 300px;
        background-color: #011638;
        border-radius: 30px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .support {
        right: 20px;
    }

    /* hero section */
    .hero-top {
        width: 80%;
    }
    .hero-top .hero-large-text {
        font-size: 3.8rem;
        letter-spacing: -2px;
        line-height: 1.1;
    }
    .hero-top .hero-small-text {
        font-size: 3.5rem;
        line-height: 0.75;
    }
    .hero-top .hero-sub-text {
        font-size: 14px;
    }
    .hero-top .hero-description {
        font-size: 10px;
        width: 80%;
    }
    .hero-section .hero-bottom {
        flex-direction: column;
    }
}

@media (max-width:450px) {
    .link-wrapper.menu-open {
        left: 40px;
        right: 40px;
    }

    /* hero section */
    .hero-top {
        width: 100%;
    }
    .hero-top .hero-large-text {
        font-size: 3rem;
    }
    .hero-top .hero-small-text {
        font-size: 2.8rem;
        width: 80%;
    }
    .trustpoilt {
        width: 80%;
    }
    .hero-section .hero-bottom {
        width: 90%;
    }
}